  - name: Install PM2
    command: npm install -g pm2
      
  - name: Start PM2 service
    shell: | 
        cd {{APP_DIR}}
        sudo pm2 start server.js
        sleep 20
        sudo pm2 startup
        sudo env PATH={{PM2_PATH}}
        sudo pm2 save


